.hero {
  background: var(--navy-blue);
}

.hero-titel {
  font-weight: 700;
  font-size: 56px;
  width: 496px;

  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-btn {
  font-weight: 500;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--white);
background: var(--iris);
}
.hero-btn:hover,
.hero-btn:focus{
    background: var(--ocean);
}
