
body{
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
    background-color: var(--white-background);
}
:root {
    --iris-color: #4D5AE5;
    --navyblue-color: #2E2F42;
    --slate-color: #434455;
    --navyblue-color: #2E2F42;
    --ocean-color: #404BBF;
    --white-background: #fff;
    --cloud-background: #F4F4FD;
    --cornflower-color: #E7E9FC;
}
ul,ol{
    list-style-type: none;
}
/*HEADER*/
.header {
    background-color: var(--white-background);
}
.header-nav {
}
.header-nav-logo {
    color: var(--iris-color);
    font-family: Raleway,  sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.header-nav-logos{
    color: var(--navyblue-color);
    font-family: Raleway,  sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-nav-list{

}
.header-nav-link {
    color: var(--navyblue-color);
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--ocean-color);
}
.address {
    font-style: normal;
}
.address-list {
}
.address-link {
    color: var(--slate-color);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}
.address-link:hover,
.address-link:focus{
    color: var(--ocean-color);
}
/*MAIN*/
/*HERO*/
.hero{
    background-color: var(--navyblue-color);
}
.hero-title{
    color: var(--white-background);
    font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
}
.hero-btn{
    background-color: var(--white-background);
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
background: var(--iris, #4D5AE5);
}
.hero-btn:hover,
.hero-btn:focus{
 background-color: var(--ocean-color);
 cursor: pointer;
}
/*ASIDE*/
.aside {
    background-color: var(--white-background);
}
.aside-title {
}
.aside-list {
}
.aside-item {
}
.aside-subject {
    color: var(--navyblue-color);
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.aside-text {
    color: var(--slate-color);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
/*WORK*/
.work {
    background-color: var(--white-background);
}
.work-title {
    color: var(--navyblue-color);
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.work-list {
}
.work-item {
}
/*TEAM */
.team {
    background-color: var(--cloud-background);
}
.team-title {
    color: var(--navyblue-color);
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
}
team-list{
    background-color: var(--white-background);
}
.team-item {
}
.team-subject {
    color: var(--navyblue-color);
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.team-text {
    color: var(--slate-color);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
/*FOOTER*/
.footer {
    background-color: var(--navyblue-color);
}
.footer-logo {
    color: var(--iris-color);
    font-family: Raleway,  sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.footer-logos{
    color: var(--cloud-background);
    font-family: Raleway,  sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.footer-text {
    color: var(--cloud-background);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
/*PORTFOLIO*/
.content {
    background-color: var(--white-background);
}
.content-title {
}
.content-list {
}
.content-item {
}
.content-btn {
    color: var(--iris-color);
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;


border-radius: 4px;
border: 1px solid var(--cornflower, #E7E9FC);
background: var(--cloud, #F4F4FD);
cursor: pointer;
}
.content-btn:hover,
.content-btn:focus{
    color: var(--white-background);
    background-color: var(--ocean-color);
}
/*Projects*/
.projcts {
}
.projcts-list {
}
.projcts-submit {
    color: var(--navyblue-color);
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.projcts-text {
    color: var(--slate-color);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}